@using KalikoCMS
@model KalikoCMS.Core.ContentReference

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @(new Tester().WhoAmI)
    
    @Html.DisplayFor(x => x)      
</div>
</body>
</html>