@model object

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        @Url.Action("Index", null)

        @Url.Action(null, null)

        @Url.Action("Test", null)
    </div>
</body>
</html>