@model object
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        @Url.Action("Index", null)

        @Url.Action(null, null)

        @Url.Action("Test", null)
    </div>

    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>

    <a asp-area="" asp-controller="Home" asp-action="Test">Test</a>
</body>
</html>